# --- Foundry ---
out/
cache/
broadcast/
test-results/
coverage.txt

# --- Soldeer  ---
dependencies/

# --- Environment & Secrets ---
.env
.env.*
!.env.example
.vscode/
.idea/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
slither-results.json
